{% extends 'base.html' %}
{% block content %}

<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">{{task.name}}</h5>
    <h6 class="card-subtitle mb-2 text-body-secondary">priority</h6>
    <h5 class="card-text">This task has a priority:{{task.priority}}</h5><br>
      <h5 class="card-text">Date:{{task.date}}</h5><br>
    <a type="submit" class="btn btn-danger" href="{% url 'todo_app:delete' task.id %}">Done</a>
      <a type="submit" class="btn btn-success" href="{% url 'todo_app:update' task.id %}">Update</a>
  </div>
</div>

{% endblock %}
